.mainDiv{
    .emptyText{
        width: 100%;
        height: 100vh;
        position: relative;
        i{
            position: absolute;
            top: 30%;
            left: 40%;
        }
    }
    .searchTable{
        .searchInput{
            width: 1000px;
            input{
                border: 1px solid gray;
            }
        }
        
        table{
            width: 1000px;
            border-collapse: collapse;
            th{
                padding: 8px;
                text-align: left;
                font-size: 700;
                height: 40px;
            }
            td{
                border-bottom: 1px solid #070F2B;
                padding: 8px;
            }
        }
    }
}