// modal
.modalDiv{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    transition: transform 0.4s, top 0.4s;
    z-index: 1;
    overflow: hidden;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}